<h1>Counting Sort</h1>

<p>Good for values form a certain range.</p>

<!--<h4>Range</h4>-->
<!--<label for="rangeFrom" [(ngModel)]="rangeFrom"></label>-->
<!--<input id="rangeFrom" type="number" [(ngModel)]="rangeFrom" disabled>-->

<!--<label for="rangeTo"></label>-->
<!--<input id="rangeTo" type="number" [(ngModel)]="rangeTo"  disabled>-->

<p>
  Array to be sorted: [ <span *ngFor="let element of arrayToSort"> {{element}} </span> ] with <strong>Counting Sort</strong>.
</p>

<p>
  Sorted: [ <span *ngFor="let element of sortedArray"> {{element}} </span> ]
</p>
